<div class="d-flex align-items-center flex-column mt-2">
    <h2 class="text-muted">Employees</h2>
</div>
<div class="table-responsive d-flex flex-wrap flex-column align-content-center">
    <button class="btn btn-success me-auto" [routerLink]="['/employees/add']">New Employee</button>

    <div class="w-75 mb-5">
        <kendo-grid  *ngIf="employees.length>0" [kendoGridBinding]="employees" class="mt-2 text-center" [resizable]="true" [filterable]="true" [sortable]="true" [columnMenu]="true" [reorderable]="true" [pageSize]="5" [pageable]="true">
            <kendo-grid-column field="name" title="Name" class="text-center"> </kendo-grid-column>
            <kendo-grid-column field="address" title="Address" class="text-center"></kendo-grid-column>
            <kendo-grid-column field="title" title="Title" class="text-center"> </kendo-grid-column>
            <kendo-grid-column field="age" title="Age" class="text-center"> </kendo-grid-column>
            <kendo-grid-column  title="Ops">
                <ng-template kendoGridCellTemplate let-dataItem title="Ops">
                    <button (click)="showEmployeeDetails(dataItem)" class="btn btn-secondary">Details</button>
                    <button (click)="editEmployee(dataItem)" class="btn btn-primary">Edit</button>
                    <button (click)="deleteEmployee(dataItem)" class="btn btn-danger">Delete</button>
                </ng-template>
                  
            </kendo-grid-column>
        </kendo-grid>
    </div>

   
</div>